<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cgb.springboot.dao.UsersDao">


    <select id="findAll" resultType="com.cgb.springboot.domain.Users">
        select
        id,name,nickname,content,head_img_url,status_id,description,enabled_id
        from users
    </select>

    <insert id="insertByUsers">

        insert into users(name,nickname,content,head_img_url,description,enabled_id,createdate)value
        (#{name},#{nickname},#{content},#{head_img_url},#{description},#{enabled_id},current_date )

    </insert>

    <update id="update" parameterType="com.cgb.springboot.domain.Users">
        update users
        <set>
            <if test="nickname != null">nickname=#{nickname},</if>
            <if test="content != null">content=#{content},</if>
            <if test="head_img_url != null">head_img_url=#{head_img_url},</if>
            <if test="description != null">description=#{description},</if>
            <if test="content != null">content=#{content},</if>
            <if test="enabled_id != null">enabled_id=#{enabled_id}</if>
        </set>
        where id = #{id}
    </update>


    <select id="findById" resultType="com.cgb.springboot.domain.Users">
 select
        id,name,nickname,content,head_img_url,status_id,description,enabled_id
        from users where id =#{id}
    </select>

    <select id="findByName" parameterType="java.lang.String" resultType="com.cgb.springboot.domain.Users">
        select
        id,name,nickname,content,head_img_url,status_id,description,enabled_id
        from users where 1 = 1
        <choose>
            <when test="_parameter != null">
                and nickname = #{nickname}
            </when>
        </choose>
    </select>

    <select id="findByName2" parameterType="java.lang.String" resultType="com.cgb.springboot.domain.Users">
        select
        id,name,nickname,content,head_img_url,status_id,description,enabled_id
        from users where 1 = 1
        <choose>
            <when test="_parameter != null">
                and nickname like CONCAT('%', #{nickname},'%')
            </when>
        </choose>
    </select>

</mapper>
